body {
   @extend %roboto;
   font-size: 16px;
   line-height: 19px;
   color: #3c4349;
}

.wrapper {
   display: flex;
   position: relative;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
}

.container {
   max-width: 1444px;
   margin: 0 auto;
   padding: 0 10px;
}

.title {
   position: relative;
   font-size: 32px;
   line-height: 37px;
   padding-bottom: 10px;
	text-align: center;

   &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 230px;
      height: 4px;
      background: url('../images/title_line.svg');
		margin: 0 auto;
   }
}

.button-wrapper {
   text-align: center;
}

.button {
	display: inline-block;

	@extend %roboto-medium;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 28px;
	background: #ED2633;
	border-radius: 6px;
   transition: box-shadow .3s ease;

   &:hover {
      box-shadow: 0px 6px 10px rgba(237, 38, 51, 0.4);
   }

   &:active {
      background: #3C4349;
   }
}

.section {
	padding-top: 80px;
}


:root {
   --animate-delay: 0.2s;
}

:root {
   --animate-duration: 0.7s;
}


.btn-up {
   position: absolute;
   right: 40px;
   bottom: 40px;

   circle {
      transition: all .3s ease;
   }

   &:hover circle{
      fill: #254F91;
      fill-opacity: 1;
   }
}

body.body--lock {
   overflow: hidden;
}


